<% include ./templates/header.ejs %>
<% include ./templates/nav.ejs %>
<div id="content-wrapper">
    <div class="container-fluid">
        <div class="jumbotron">
            <h3>Welcome</h3>
            <p>This is a basic template webpage that will be used in any project related that uses for the <em>front-end</em>
                <b>jQuery</b> and <b>Boostrap 4</b>. For the <em>back-end</em>, <b>nodeJS</b> and <b>mongodb</b> is
                considered.</p>
        </div>
    </div>

</div>
<% include ./templates/footer.ejs %>