<% include ../templates/header.ejs %>
<% include ../templates/nav.ejs %>
<% include ../templates/messages.ejs %>
<div id="content-wrapper" class="d-flex flex-wrap">
    <div class="container-fluid ">
        <div class="jumbotron">
            <h4>This page is visible only if the user has logged in.</h4>
        </div>
    </div>

</div>
<% include ../templates/footer.ejs %>